AddKeysToAgent yes

# Ensure KnownHosts are unreadable if leaked - it is otherwise easier to know which hosts your keys have access to.
HashKnownHosts yes

# Check fingerprint via DNS
VerifyHostKeyDNS ask

# Keepalive every 30s
ServerAliveInterval 15

# Host keys the client accepts - order here is honored by OpenSSH
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,rsa-sha2-512,rsa-sha2-256

# KexAlgorithms: the key exchange methods that are used to generate per-connection keys
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

# MACs: the message authentication codes used to detect traffic modification
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

# Ciphers: the ciphers to encrypt the connection
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com

Host *
    ControlMaster auto
    ControlPath ~/.ssh/controls/%r-%h-%p
    ControlPersist 1200s
