(
    selected_tab: Yellow,
    command_fg: Indexed(7),
    selection_bg: Indexed(236),
    cmdbar_extra_lines_bg: Blue,
    disabled_fg: DarkGray,
    diff_line_add: Indexed(2),
    diff_line_delete: Indexed(9),
    diff_file_added: Indexed(2),
    diff_file_removed: Indexed(1),
    diff_file_moved: Indexed(5),
    diff_file_modified: Indexed(3),
    commit_hash: Indexed(5),
    commit_time: Indexed(12),
    commit_author: Indexed(8),
    danger_fg: Indexed(9),
    push_gauge_bg: Indexed(19),
    push_gauge_fg: Indexed(15),
)
