# Client #
[Peer]
AllowedIPs = {{ item.ip | ipv4('address') }}/32
PublicKey = {{ item.pubkey }}
PresharedKey = {{ item.psk }}
{% if item.keepalive | int > 0 %}
PersistentKeepalive = {{ item.keepalive }}
{% endif %}
