# Endpoint #
[Peer]
Endpoint = {{ item.ip }}:{{ item.port }}
AllowedIPs = {{ item.allowedips }}
PublicKey = {{ item.pubkey }}
PresharedKey = {{ item.psk }}
{% if item.keepalive | int > 0 %}
PersistentKeepalive = {{ item.keepalive }}
{% endif %}
