[Interface]
{% if wg_server_ip is defined and wg_srv %}
Address = {{ wg_server_ip | ipv4('address') }}/{{ wg_server_subnet.split('/')[1] | int }}
{% else %}
# Transparent proxy, server is unavailable from VPN subnets.
{% endif %}
ListenPort = {{ wg_port }}
{% if wg_peerkey %}
PrivateKey = {{ wg_peerkey }}
{% else %}
PrivateKey = {{ wg_privkey }}
{% endif %}
# Pubkey = {{ wg_sum_pubkey }} # For your reference only, do not uncomment
